@font-face {
	font-family: "Commissioner-Medium";
	src: url("../fonts/Commissioner-Medium.ttf");
}

.background{
	background: #828282;
}

.images{
	display: flex;
	justify-content: center;
}

.picture{
	margin: 5px;
	border: medium solid #ffff7f;
}

#main{
	position: sticky;
	top: 0px;
}

.header{
	padding: 5px;
	text-align: center;
}

.link{
	color: #ffff7f;
	padding: 5px;
	text-align: center;
}

.sub-title{
	text-align: center;
	padding: 10px;
	margin: 10px;
	font-family: 'Gabriela', serif;
}

.link:hover{
	background: #ffff7f;
	color: #828282;
	transition-duration: 1s;
}

.ordered-list{
	display: flex;
	flex-direction: column;
	color: #ffff7f;
}

.list-item{
	display: flex;
	justify-content: center;
}

.text{
	color: #ffff7f;
	padding: 5px;
	text-align: center;
	font-family: 'Commissioner-Medium';
}

a[href*="com"]:active{
	color: #828282;
	background: #828282;
}

.footer{
	text-align: center;
	margin-bottom: 125px;
	padding-bottom: 125px;
	border-bottom: solid 5px #ffff7f;
	border-radius: 10px;
}

.logo{
	height: 20px;
	border: 2px solid #ffff7f;
	border-radius: 100%;
}

.vk{
	color: #ffff7f;
	font-family: 'Commissioner-Medium';
}

.wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}
